#            GRIP: The Sparks Foundation
 Data Science and Business Analytics- Internship
 Predicion Using Supervised ML
 Author : Gnanashri K V

Task 1 : Predict the percentage of an student based on the no. of study hours.
-> Here we will predict the percentage of a student based on the number of  hours the student dedicates to studies.

# Import the required libraries

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
%matplotlib inline
print("required lib are imported")

required lib are imported

# Reading the data

In [7]:
url = "https://bit.ly/w-data"
data = pd.read_csv(url)
print("data has been imported")

data has been imported

# Exploring the imported data

first 5 records of the dataset

In [9]:
data.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

last 5 records of the dataset

In [11]:
data.tail()

    Hours  Scores
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [15]:
data.describe()

           Hours     Scores
count  25.000000  25.000000
mean    5.012000  51.480000
std     2.525094  25.286887
min     1.100000  17.000000
25%     2.700000  30.000000
50%     4.800000  47.000000
75%     7.400000  75.000000
max     9.200000  95.000000

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hours   25 non-null     float64
 1   Scores  25 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 528.0 bytes

In [ ]:
data